/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  /* Pozicionálás */
  
  .profile-card {
    width: 450px;
    max-width: calc(100vw - 10px);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    height: 100vh;
  }
  
  .head, .links {
    text-align: center;
  }
  
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
    transition: all 0.5s ease-in-out;
  }
  
  img:hover {
    filter: grayscale(20%);
    transform: scale(1.1);
  }
  
  .profile-image {
    margin-top: -60px;
  }
  
  /* Contact links */
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  
  .head, .about {
    margin-bottom: 10%;
  }
  
  .content {
    padding: 5% 10%;
  }
  
  body {
    background: url('https://i.imgur.com/DHIQiAV.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .profile-card {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
  
  .content {
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }
  
  body {
    font-family: 'Raleway', sans-seriff;
    font-weight: 700;
    line-height: 1.4em;
  }
  
  span {
    color: purple;
    font-size: medium;
  }
  
  h1 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .social-icon {
    color: purple;
  }
  